<div class="page-header">
  <h1>Websites</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> URL </th>
      <th> Number of images to sort </th>
      <th> Last scrapping </th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website.name, website_images_path(website) %></td>
        <td><%= website.url %></td>
        <td><%= images_to_sort_count(website) %></td>
        <td><%= last_scrapping_date(website) %></td>
      </tr>
    <% end %>
  </tbody>
</table>