// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_image {
	margin-bottom: 65px;
	height: 300px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.link {
	width: 120px;
	text-align: left;
	float: left;
}

.title {
	width: 70px;
	text-align: left;
	float: right;
}

.well {
	min-height: 150px;
}