<h3>Websites</h3>
<br>
<div class="row">
  <table class="table table-striped table-hover">
    <th>Name</th>
    <th>URL</th>
    <th>Images</th>
    <th>Latest Image</th>
    <tr ng-repeat="subscription in subscriptions">
      <td><a href="#/websites/{{subscription.linked.websites[0].id}}/posts/{{subscription.linked.websites[0].linked.posts[0].id}}?subscription_id={{subscription.id}}">{{subscription.linked.websites[0].name}}</a></td>
      <td>{{subscription.linked.websites[0].url}}</td>
      <td>{{subscription.linked.websites[0].images_count}}</td>
      <td>{{subscription.linked.websites[0].last_scrapping_date}}</td>
    </tr>
  </table>
</div>
<button type="button" class="btn btn-default" ng-click='loadMore()'>More</button>
