<h3>Websites</h3>
<br>
<div class="row">
  <table class="table table-striped table-hover">
    <th>Name</th>
    <th>URL</th>
    <th>Images</th>
    <th>Latest Image</th>
    <tr ng-repeat="website in websites">
      <td><a href="#/websites/{{website.id}}/posts/latest">{{website.name}}</a></td>
      <td>{{website.url}}</td>
      <td>{{website.images_count}}</td>
      <td>{{website.last_scrapping_date}}</td>
    </tr>
  </table>
</div>
<button type="button" class="btn btn-default" ng-click='loadMore()'>More</button>
