<div class="col-xs-9">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="image in images">
      <div class="panel panel-default">
        <a href="#">
          <img src="{{image.thumbnail_url}}" class="img-responsive">
        </a>
        <div ng-if="userImages.indexOf(image.id) == -1">
          <button type="button" class="btn btn-success" ng-click="saveImage(image.id)">save</button>
        </div>
        <div ng-if="userImages.indexOf(image.id) > -1">
          <button type="button" class="btn btn-danger" ng-click="deleteImage(image.id)">delete</button>
        </div>
      </div>
    </div>
  </div>
  <pagination ng-show="shouldPaginate" total-items="post.images_count" ng-model="page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged(page)"></pagination>
</div>