<div class="col-xs-9">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="image in images">
      <div class="panel panel-default">
        <a href="#">
          <div ng-style="{'background-image':'url({{image.thumbnail_url}})'}" class="background-img-responsive">
            <div ng-if="userImages.indexOf(image.id) == -1"  style="display:none" showonhoverparent>
              <button type="button" class="btn btn-success img-button" ng-click="saveImage(image.id)">save</button>
            </div>
            <div ng-if="userImages.indexOf(image.id) > -1">
              <button type="button" class="btn btn-danger img-button" ng-click="deleteImage(image.id)">delete</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <pagination ng-show="shouldPaginate" total-items="post.images_count" ng-model="page" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged(page)"></pagination>
</div>