<footer class="footer row-fluid">
    <div class="col-md-4">
      <ul>
        <li>Footer paragraph1</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Footer paragraph2</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Footer paragraph3</li>
      </ul>
    </div>
</footer>