<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Websites", user_websites_path %></li>
      </ul>
      <% if current_user.try(:id) %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to("Logout", session_path(current_user), :method => :delete) if current_user %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>